{% assign content = site.data.content['team_grid'] %}

<section class="team-grid gap">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div class="heading">
          <h6>{{ content.subtitle | safeHTML }}</h6>
          <h2>{{ content.title | safeHTML }}</h2>
          <img alt="line" src="/assets/images/headingline.png">
        </div>
      </div>
      <div class="offset-xl-1 col-xl-5">
        <div class="team-welcome-text">
          <p>{{ content.description | safeHTML }}</p>
          <a href="{{ content.link }}" class="themebtu">{{ content.button }}</a>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      {% for item in content.items %}
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="team-member">
          <img class="w-100" alt="{{ item.name }}" src="{{ item.image | absolute_url }}">
          <div class="team-member-text">
            <h6>{{ item.name }}</h6>
            <p>{{ item.role }}</p>
            <ul class="brandicon">
              {% for link in item.social %}
              <li><a href="{{ link.link }}" target="_blank" rel="nofollow" title="{{ link.title }}"><i class="{{ link.icon }}"></i></a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}
      {% if content.join == true %}
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="join-our-team">
          <div>
            <a href="{{ content.join_link }}"><h5>{{ content.join_title | safeHTML }}</h5></a>
            <span>{{ content.join_subtitle | safeHTML }}</span>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</section>