{% assign content = site.data.content['marketing_two'] %}

<section class="gap no-top">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 ">
        <div class="heading">
          <h6>{{ content.subtitle | safeHTML }}</h6>
          <h2>{{ content.title | safeHTML }}</h2>
          <img alt="line" src="/assets/images/headingline.png">
        </div>
        <div class="marketing two">
          <p class="pt-3">{{ content.description | safeHTML }}</p>
        </div>
        <div class="successful">
           {% for item in content.numbers %}
           <div class="d-flex">
             <h3>{{ item.value }}</h3>
             <p>{{ item.label }}</p>
           </div>
           {% if item.separator == true %}
           <div class="separator"></div>
           {% endif %}
           {% endfor %}
        </div>
      </div>
      <div class="offset-xl-1 col-lg-5">
        <div class="graph">
          <img alt="img" class="w-100" src="{{ content.image | absolute_url }}">
        </div>
      </div>
    </div>
  </div>
</section>