---
layout: default
---

{% assign ui_text = site.data.ui-text['ui_text'] %}

{% if page.author == nil %}
	{% assign author = site.author %}
{% else %}
	{% assign author = page.author %}
{% endif %}

{% assign blog_url = 'blog/' %}

<section>
	<div class="container">
	  <div class="title-blog">
		<h2>{{ page.title }}</h2>
		{% assign cat_size = page.category | size %}
		{% if cat_size != 0 %}
		{% for category in page.category %}
		<a href="{{ '/categories' | relative_url }}/{{ category | downcase | url_escape | strip | replace: ' ', '-' }}">{{ category }}</a>
		{% endfor %}
		{% endif %}			
	  </div>
	  <div class="row">
		<div class="col-xl-8">
		  <div class="blog-item">
			{% if page.full_image != nil %}
			<figure><img alt="{{ page.title }}" class="w-100" src="{{ page.full_image | relative_url }}"></figure>
			{% else %}
			<figure><img alt="{{ page.title }}" class="w-100" src="{{ page.image | relative_url }}"></figure>
			{% endif %}	

			<div class="post-content">
				{{ page.content }}
			</div>
		  </div>

		  {% if page.previous.url or page.next.url %}
		  <div class="next-previous-page two row">
			<div class="container">
				<div class="next-previous">
				{% if page.previous.url %}
				<div class="prev">
					<a href="{{ page.previous.url | relative_url }}" title="{{ page.previous.title }}">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						viewBox="0 0 476.213 476.213" style="enable-background:new 0 0 476.213 476.213;" xml:space="preserve">
					<polygon points="405.606,167.5 384.394,188.713 418.787,223.106 0,223.106 0,253.106 418.787,253.106 384.394,287.5 
					405.606,308.713 476.213,238.106 "/>
					</svg>
					{{ ui_text.prev_post }}</a>
				</div>
				{% endif %}
				{% if page.next.url %}
				<div class="next">
					<a href="{{ page.next.url | relative_url }}" title="{{ page.next.title }}">
						{{ ui_text.next_post }}
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						viewBox="0 0 476.213 476.213" style="enable-background:new 0 0 476.213 476.213;" xml:space="preserve">
					<polygon points="405.606,167.5 384.394,188.713 418.787,223.106 0,223.106 0,253.106 418.787,253.106 384.394,287.5 
					405.606,308.713 476.213,238.106 "/>
					</svg>
					</a>
				</div>
				{% endif %}
				</div>
			</div>
		  </div>
		  {% endif %}

		  {% if site.disqus_comments == 'yes' %}
		  <div class="comments-post section pt-5 no-bottom" data-animate="active">
			<div class="section__comments">
				<div class="m-titles">
					<h5 class="mb-5">{{ ui_text.comments }}</h5>
				</div>
				<div id="disqus_thread"></div>
				<script>
					var disqus_config = function () {
						this.page.url = "{{ page.url | absolute_url }}";  /* Replace PAGE_URL with your page's canonical URL variable */
						this.page.identifier = "{{ page.id }}"; /* Replace PAGE_IDENTIFIER with your page's unique identifier variable */
					};
					(function() { /* DON'T EDIT BELOW THIS LINE */
						var d = document, s = d.createElement('script');
						s.src = 'https://{{ site.disqus_shortname }}.disqus.com/embed.js';
						s.setAttribute('data-timestamp', +new Date());
						(d.head || d.body).appendChild(s);
					})();
				</script>
				<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			</div>
		  </div>
		  {% endif %}
		</div>
		<div class="col-xl-4 pl-60">
		  <ul class="sidebar">
			<li>
			  <h4>{{ ui_text.author }} : </h4>
			  <span>{{ author }}</span>
			</li>
			<li>
			  <h4>{{ ui_text.publish_date }} :</h4>
			  <span>{{ post.date | date: site.date_format }}</span>
			</li>
			{% assign cat_size = page.category | size %}
			{% if cat_size != 0 %}
			<li>
			  <h4>{{ ui_text.category }} :</h4>
			  {% for category in page.category %}
			  <a href="{{ '/categories' | relative_url }}/{{ category | downcase | url_escape | strip | replace: ' ', '-' }}"><span>{{ category }}</span>{% if page.category.last != category and page.category.last != nil %},{% endif %}</a>
			  {% endfor %}
			</li>
			{% endif %}
			{% assign tags_size = page.tags | size %}
			{% if tags_size != 0 %}
			<li>
				<h4>{{ ui_text.tags }} :</h4>
				{% for tag in page.tags %}
				<a href="{{ '/tags' | relative_url }}/{{ tag | downcase | url_escape | strip | replace: ' ', '-' }}">{{- tag -}}{% if page.tags.last != tag and page.tags.last != nil %},{% endif %}</span></a>
				{% endfor %}
			</li>
			{% endif %}
			<li>
			  <h4>{{ ui_text.share }} :</h4>
			  <ul class="brandicon share-post social-share" data-title="{{ page.title }}" data-url="{{ page.url | absolute_url }}">
				<li><a href="#" class="share-btn share-btn-facebook share-btn-1" title="{{ ui_text.share_on }} Facebook"><i class="fa-brands fa-facebook-f"></i></a></li>
				<li><a href="#" class="share-btn share-btn-twitter share-btn-2" title="{{ ui_text.share_on }} Twitter"><i class="fa-brands fa-twitter"></i></a></li>
				<li><a href="#" class="share-btn share-btn-reddit share-btn-3" title="{{ ui_text.share_on }} Reddit"><i class="fa-brands fa-reddit"></i></a></li>
				<li><a href="#" class="share-btn share-btn-pinterest share-btn-4" title="{{ ui_text.share_on }} Pinterest"><i class="fa-brands fa-pinterest"></i></a></li>
				<li><a href="#" class="share-btn share-btn-linkedin share-btn-5" title="{{ ui_text.share_on }} Linkedin"><i class="fa-brands fa-linkedin-in"></i></a></li>
			  </ul>
			</li>
		  </ul>
		</div>

		</div>
		
	  </div>
</section>

{% if site.related_posts.size %}

<section class="gap blog-recent-posts">
	<div class="container">
	  <h4 class="mb-5">{{ ui_text.related_posts }}</h4>
	  <div class="row">
		{% for post in site.related_posts limit: 4 %}
		<div class="col-xl-3 col-lg-4 col-md-6">
		  <div class="latest-blog-post">
			<a href="{{ post.url }}"><img alt="{{ post.title }}" class="w-100" src="{{ post.image | absolute_url }}"></a>
			<a href="{{ post.url }}"><i class="fa-regular fa-clock"></i><span></span></a>
			<a href="{{ post.url }}">
			  <h4>{{ post.title }}</h4>
			</a>
			<span> | {% if cat_size != 0 %}{% for category in post.category %}{{ category }}{% if post.category.last != category and post.category.last != nil %}, {% endif %}{% endfor %}{% endif %}</span>
		  </div>
		</div>
		{% endfor %}
	  </div>
	</div>
</section>

{% endif %}


